openapi: 3.0.3
info:
  title: Quiz Challenge API
  description: This are just the models for the QuizChallen.
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 1.0.0
servers:
  - url: http://quizchallenge.moinsen.dev/api/v2
paths:
  /dummy:
    get:
      summary: Just a dummy path for codegen
      responses:
        200:
          description: OK
components:
  schemas:
    GameStatus:
      type: string
      enum:
        - created
        - started
        - paused
        - aborted
        - finished
        - deleted
    Game:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        status:
          type: string
          default: created
           #$ref: "#/components/schemas/GameStatus"
        maxNumberOfPlayers:
          type: integer
        minNumberOfPlayers:
          type: integer
          default: 2
        tsCreated:
          type: string
          format: date-time
        tsModified:
          type: string
          format: date-time
      required:
        - name
        - description
        - statusEnum
        - tsCreated
    AppUser:
      type: object
      properties:
        uid:
          type: string
        displayName:
          type: string
        avatarUrl:
          type: string
        email:
          type: string
        game: 
          $ref: '#/components/schemas/Game'
        tsCreated:
          type: string
          format: date-time
        tsModified:
          type: string
          format: date-time


    Player:
      type: object
      properties:
        uid:
          type: string
        displayName:
          type: string
        avatarUrl:
          type: string
      required:
        - uid
        - displayName
      
